body{ 
    font-family: Arial, Helvetica, Sans-Serif; 
    background-color: #faee84;
    font-size: 90%;	
 }

 div.polaroid {
	width: 50%;
	text-align: center;
  }
  
  div.container {
	padding: 10px;
  }

  a{
	  color: white;
  }

h1,h2,h3,h4,h5,h6
{
	font-family: "Arial", Times, sans-serif;
	text-transform: capitalize;
}